<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>MAHRIO COMMUNITY</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/assets/bootstrap/dist/css/bootstrap.min.css" type="text/css" rel="stylesheet"/>
        <link href="/assets/css/index.css" type="text/css" rel="stylesheet"/>
    </head>

    <body ng-app="mahrio-community">
        <h1>Hello World!</h1>

        <script src="/assets/angular/angular.min.js"></script>
        <script src="/assets/jquery/dist/jquery.min.js"></script>
        <script src="/assets/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="/assets/socket.io-client/socket.io.js"></script>
        <script src="/assets/js/index.js"></script>
    </body>
</html>