<form ng-submit="vm.submitImage()">
    <br/>
    <div class="form-group">
        <label for="title" class="control-label">URL:</label>
        <input type="text" class="form-control" id="title" ng-model="vm.image.url" >
    </div>
    <div class="form-group">
        <label for="title" class="control-label">Filename:</label>
        <input type="text" class="form-control" id="title" ng-model="vm.image.filename" >
    </div>
    <div class="form-group">
        <label for="title" class="control-label">Thumb:</label>
        <input type="text" class="form-control" id="title" ng-model="vm.image.thumb" >
    </div>
    <div class="form-group">
        <div class="col-sm-offset-4 col-sm-4">
            <button type="submit" class="btn btn-primary btn-block">
                {{vm.image._id ? 'Update' : 'Create'}}
            </button>
            <br/>
        </div>
    </div>
</form>